/*.menu-bar__button-login{*/
    /*flex-grow: 1;*/
/*}*/
.menu-bar__div-container {
    flex-grow: 1;
    margin-bottom: 20px;
}
.menu-bar__tittle {
    flex-grow: 1;
}
.menu-bar__button-icon-menu {
    margin-left: -12px;
    margin-right: 20px;
}
.text-field-login {
    width: 100%;
}
.text-field-edit {
    width: 100%;
}
.text-field-login__container{
    min-width: 300px;
}
.text-field-edit__container {
    min-width: 500px;
}

.link-button__login{
    text-decoration-color: white;
}

.field-image{
    display: none;
}
.buttonProgress {
    color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
}
