<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}IT-resume{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/index.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>IT-resume</h1>
        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer class="footer">
            <p>Check out the full code on <a href="https://github.com/navyfox/it-resume">GitHub</a></p>
        </footer>
    </body>
</html>
